@model CatalogSearchViewModel

@{
    ViewData["Title"] = "Search";
}

<title>@ViewBag["Data"]</title>
@using (Html.BeginForm("Search", "Dealership", FormMethod.Get))
{
    <div>
        <select class="form-control" id="Make" name="Make">
            @foreach (var make in Model.Makes)
            {
                <option value="@make">@make</option>
            }
        </select>
    </div>
    <div>
        <select class="form-control" id="Models" name="Make">
            @foreach (var model in Model.Models.Where(x => x.Manufacturer ==)
            {
                <option value="@make">@make</option>
            }
        </select>
    </div>
    <div>
        @Html.LabelFor(m => m.MinPrice)
        @Html.TextBoxFor(m => m.MinPrice)
    </div>
    <div>
        @Html.LabelFor(m => m.MaxPrice)
        @Html.TextBoxFor(m => m.MaxPrice)
    </div>

    <input type="submit" value="Search" />
}