@model ICollection<SalePostViewModel>

@{
    ViewData["CloudDomain"] = "https://res.cloudinary.com/carmarketplace/image/upload/";
    var imageSrc = "";
    ViewData["Title"] = "My Archived posts";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="my-4">@ViewData["Title"]</h1>
        </div>
    </div>

    @for (int i = 0; i < Model.Count; i += 3)
    {
        <div class="row">
            @foreach (var post in Model.Skip(i).Take(3))
            {
                imageSrc = ViewData["CloudDomain"] + post.ThumbnailImage;

                <div class="col-md-4">
                    <div class="card mb-4 p-2" style="filter: grayscale(70%);">
                        <img src="@imageSrc" class="card-img-catalog" alt="@post.Car.Make.Name @post.Car.Model.ModelName">
                        <div class="card-body">
                            <h3 class="card-title"><strong>@post.Car.Make.Name @post.Car.Model.ModelName</strong></h3>
                            <hr>
                            <span class="card-text fs-3">Price: <span class="card-text fs-3 fst-italic">@post.Price</span> BGN</span>
                            <br>
                            <span class="card-text fs-3">Year: <span class="fst-italic"></span>@post.Car.Year</span>
                            <br>
                            <p class="card-text fs-3 fst-italic">@post.Seller.City.Province.ProvinceName, @post.Seller.City.CityName</p>
                            <span class="card-text fs-4 fst-italic">@post.CreatedOn.ToString("HH:mm:ss dd/MM/yyyy")</span>
                            <br>
                            <div class="row justify-content-center mt-2">
                                <div class="col-4">
                                    <a class="btn btn-primary btn-warning col-lg-12" onclick="ActivatePost('@post.Id')">Activate</a>
                                </div>
                                <div class="col-4">
                                    <a class="btn btn-primary col-lg-12" asp-area="" asp-controller="SalePost" asp-action="Details" asp-route-id="@post.Id">View</a>
                                </div>
                                <div class="col-4">
                                    <a class="btn btn-primary btn-danger col-lg-12" onclick="showConfirmDelete('@post.Id', '@post.Car.Id')">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

<div class="modal fade" id="confirmModalDelete" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-dialog-box">
            <div class="modal-body fs-3">
                <p>Are you sure you want to <strong>delete</strong> your post?</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" onclick="cancelDelete()">Cancel</button>
                <button type="button" id="confirmButtonDelete" class="btn btn-lg btn-danger">Confirm</button>
            </div>
        </div>
    </div>
</div>


<script>
    function showConfirmDelete(postId, carId) {
        $('#confirmButtonDelete').get(0).addEventListener('click', () => { confirmActionDelete(postId, carId); });
        $('#confirmModalDelete').modal('show');
    }

    function confirmActionDelete(postId, carId) {
        $('#confirmModalDelete').modal('hide');

        var url = '@Url.Action("Archive")';

        const data = {
            postId: postId,
            carId: carId
        }

        console.log(data);

        $.ajax({
            contentType: "application/json",
            type: 'POST',
            url: 'Delete',
            data: JSON.stringify(data),
            success: function () {

                window.location.href = url;
            }
        });
    }

    function cancelDelete() {
        $('#confirmModalDelete').modal('hide');
    }

    function ActivatePost(postId){

        var url = '@Url.Action("UserPosts")';

        $.ajax({
            contentType: "application/json",
            type: 'POST',
            url: 'ActivatePost',
            data: JSON.stringify(postId),
            success: function(){

                window.location.href = url;
            }
        });
    }
</script>

