@model EditViewModel
@{
    ViewData["CloudDomain"] = "https://res.cloudinary.com/carmarketplace/image/upload/";
    ViewData["Title"] = "Edit";
}
<div class="mx-auto  mt-2">
    <div class="row mb-2 text-center">
        <h1 class="">@ViewData["Title"]</h1>
    </div>
    <div class="row justify-content-center gap-2">
        @{
            var imageSource = ViewData["CloudDomain"] + Model.ThumbnailImageUrl;
        }
        <img src="@imageSource" alt="Image" class="ml-2 img-edit" />
        @foreach (var image in Model.ImageUrls!.Split(", ", StringSplitOptions.RemoveEmptyEntries))
        {
            imageSource = ViewData["CloudDomain"] + image;
            <img src="@imageSource" alt="Image" class="ml-2 img-edit" />
        }
    </div>
</div>
<div class="container mt-1 row-">
    <form enctype="multipart/form-data" asp-action="Edit" method="post">
        <div class="row mt-3 text-center">
            <span class="fs-3">Choose up to 10 photos</span>
            <div class="form-group col-5 mb-3 text-center">
                <label asp-for="ThumbnailImage" class="form-label fs-4">Thumbnail photo</label>
                <input class="form-control" asp-for="ThumbnailImage" type="file" required>
                @if (Model.ImagesErrorMessage != null)
                {
                    <span class="text-danger fs-4">@Model.ImagesErrorMessage</span>
                }
            </div>
            <div class="form-group col-7 mb-3 text-center">
                <label asp-for="Images" class="form-label fs-4">Photos</label>
                <input class="form-control" asp-for="Images" type="file" multiple>
                @if (Model.ImagesErrorMessage != null)
                {
                    <span class="text-danger fs-4">@Model.ImagesErrorMessage</span>
                }
            </div>
        </div>
        <div class="row col-lg-13">
            <div class="mb-3 col-4">
                <label asp-for="MakeId" class="form-label fs-4">Manufaturer</label>
                <select asp-for="MakeId" class="form-select" required>
                    <option value="" selected disabled>Select a make</option>
                    @foreach (var item in Model.Makes!)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3 col-4">
                <label class="form-label fs-4" asp-for="Model">Model</label>
                <input type="text" class="form-control" asp-for="Model" placeholder="e.g., Astra, Corsa, Zafira" required>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="mb-3 col-4">
                <label asp-for="Year" class="form-label fs-4">Year</label>
                <input type="number" class="form-control" asp-for="Year" value="@((Model.Year != 0) ? Model.Year : null)" min="1886" max="2023" placeholder="e.g., 2017" required>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="mb-3 col-4">
                <label asp-for="CategoryId" class="form-label fs-4">Category</label>
                <select asp-for="CategoryId" class="form-select" required>
                    <option value="" selected disabled>Select a category</option>
                    @foreach (var item in Model.Categories!)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3 col-4">
                <label asp-for="ColorId" class="form-label fs-4">Color</label>
                <select asp-for="ColorId" class="form-select" required>
                    <option value="" selected disabled>Select a color</option>
                    @foreach (var item in Model.Colors!)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3 col-4">
                <label asp-for="Price" class="form-label fs-4">Price</label>
                <input type="number" asp-for="Price" class="form-control" value="@((Model.Price != 0) ? Model.Price : null)" placeholder="Your price will be in BGN" required>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>
        <div class="row col-lg-13">
            <h3 class="mt-2">Engine specs:</h3>
            <div class="mb-3 col-4">
                <label class="form-label fs-4" asp-for="EngineDisplacement">Displacement</label>
                <input type="number" class="form-control" asp-for="EngineDisplacement" value="@((Model.EngineDisplacement != 0) ? Model.EngineDisplacement : null)" min="0" max="99999" placeholder="e.g., 1600, 2000, 2500" required>
                <span asp-validation-for="EngineDisplacement" class="text-danger"></span>
            </div>
            <div class="mb-3 col-4">
                <label class="form-label fs-4" asp-for="EngineFuelType">Fuel</label>
                <input type="text" class="form-control" asp-for="EngineFuelType" placeholder="e.g., Petrol, Diesel, Hybrid" required>
                <span asp-validation-for="EngineFuelType" class="text-danger"></span>
            </div>
            <div class="mb-3 col-4">
                <label class="form-label fs-4" asp-for="EngineHorsePower">Horsepower</label>
                <input type="number" class="form-control" asp-for="EngineHorsePower" value="@((Model.EngineHorsePower != 0) ? Model.EngineHorsePower : null)" min=0 max="9999" placeholder="e.g., 120, 170" required>
                <span asp-validation-for="EngineHorsePower" class="text-danger"></span>
            </div>
        </div>
        <div class="row col-lg-13">
            <div class="mb-3 col-4">
                <label asp-for="Odometer" class="form-label fs-4">Odometer/Kilometers</label>
                <input type="number" asp-for="Odometer" class="form-control" value="@((Model.Odometer != 0) ? Model.Odometer : null)" placeholder="e.g., 170000, 250000" required>
                <span asp-validation-for="Odometer" class="text-danger"></span>
            </div>
            <div class="mb-3 col-4">
                <label asp-for="TransmissionType" class="form-label fs-4">Transmission</label>
                <input type="text" asp-for="TransmissionType" class="form-control" placeholder="e.g., Manual, Automatic">
                <span asp-validation-for="TransmissionType" class="text-danger"></span>
            </div>
            <div class="mb-3 col-4">
                <label asp-for="EuroStandart" class="form-label fs-4">Euro</label>
                <input type="number" asp-for="EuroStandart" class="form-control" value="@((Model.EuroStandart != 0) ? Model.EuroStandart : null)" placeholder="e.g., 2, 3" required>
                <span asp-validation-for="EuroStandart" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="VinNumber" class="form-label fs-4">VinNumber</label>
            <input type="text" asp-for="VinNumber" class="form-control" placeholder="Car's unique identifier">
            <span asp-validation-for="VinNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TechnicalSpecificationURL" class="form-label fs-4">Car Specifications</label>
            <input type="text" asp-for="TechnicalSpecificationURL" class="form-control" placeholder="Link to auto data site for your car">
        </div>
        <div class="mb-3">
            <label for="engine" class="form-label fs-4">Description</label>
            <textarea asp-for="Description" class="form-control" placeholder="My recently imported car..."></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="d-grid col-3 mx-auto mt-3 mb-2">
            <input type="submit" asp-route-postId="@Model.PostId" class="btn btn-warning fs-4" value="Edit" />
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
