@model CatalogRentViewModel
@{
    ViewData["Title"] = "Rental Cars";
    ViewData["CloudDomain"] = "https://res.cloudinary.com/carmarketplace/image/upload/";
    var imageSrc = "";
}

<div class="mt-5">
    <div class="d-grid gap-2 col-6 mx-auto text-center mt-5">
        <h1>@ViewData["Title"]</h1>
    </div>
    @if (Model.RentPosts.Count() == 0)
    {
        <div class="text-center mt-4">
            <img src="/img/Sad_car.png">
        </div>
    }
    @foreach (var post in Model.RentPosts)
    {
        imageSrc = ViewData["CloudDomain"] + @post.ImagePublicId;
        <div class="border rounded-5 shadow-lg bg-primary p-4 mb-4 mt-4">
            <div class="row text-decoration-none text-black">
                <div class="col-4">
                    <img src="@imageSrc" class="card-img-result rounded" alt="@post.Car.Make.Name @post.Car.Model.ModelName">
                </div>
                <div class="col-4 d-flex flex-column text-white align-items-between mt-4">
                    <span class="fs-4"><i class="fa fa-lg fa-suitcase text-white" aria-hidden="true"></i> @post.Car.BootCapacity liters</span>
                    <br>
                    <span class="fs-4"><i class="fa fa-lg fa-users text-white" aria-hidden="true"></i> @post.Car.Seats seats</span>
                    <br>
                    <span class="fs-4 ms-1"><i class="fa fa-lg fa-map-marker" aria-hidden="true"></i> @post.Lender.City.CityName</span>
                    <br>
                    <span class="fs-4"><i class="fa fa-lg fa-calendar" aria-hidden="true"></i> @post.Car.Year</span>
                </div>
                <div class="col-4 position-relative">
                    <div class="d-flex flex-column align-items-between text-white mt-4">
                        <span class="fs-4">
                            <img src="/img/gas-station.png" width="34" height="32" /> @post.Car.Engine.FuelType
                        </span>
                        <br>
                        <span class="fs-4">
                            <img src="/img/manual-transmission.png" width="34" height="32" /> @post.Car.TransmissionType
                        </span>
                        <br>
                        <span class="fs-4">
                            <i class="fa fa-lg fa-car" aria-hidden="true"></i> @post.Car.Category.Name
                        </span>
                        <br>
                        <span class="fs-4">
                            <i class="fa fa-lg fa-leaf" aria-hidden="true"></i> @post.Car.EuroStandart
                        </span>
                    </div>
                    <div class="fst-italic border border-warning rounded-3 p-1 bg-primary text-white shadow bottom-right-div">
                        <span class="fs-3">Price per day</span>
                        <br>
                        <span class="fs-3 p-2">@post.PricePerDay<strong> BGN</strong></span>
                    </div>
                </div>
                <div class="row ps-2 text-white d-flex flex-lg-row">
                    <h2 class="card-title float-start col-auto mt-2">@post.Car.Make.Name @post.Car.Model.ModelName</h2>
                    <div class="col-md-3 mt-2 ms-4">
                        <a asp-controller="Rent" asp-action="RentVehicle" asp-route-postId="@post.Id" class="btn btn-primary border-warning btn-lg">Rent now</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (Model.PageCount != 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            @for (var i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="javascript:void(0);" onclick="loadPage(@i-1,event)">@i</a>
                </li>
            }
        </ul>
    </nav>
}

<script>
    function loadPage(pageNum, event) {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("Catalog", "Rent")',
            type: 'GET',
            data: { pageNum: pageNum },
            success: function (result) {

                $('body').html(result);
                window.scrollTo(0, 0);
            },
            error: function () {
                alert('Error loading page.');
            }
        });
    }
</script>
