@model ICollection<SalePostViewModel>

@{
    ViewData["CloudDomain"] = "https://res.cloudinary.com/carmarketplace/image/upload/";
    var imageSrc = "";
    ViewData["Title"] = "My Collection";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="my-4">@ViewData["Title"]</h1>
        </div>
        <div class="col-md-6 my-4 align-items-middle">
            <div class="d-grid col-3 mx-auto float-end mt-2">
                <a asp-controller="SalePost" asp-action="Add" class="btn btn-primary btn-lg">Add a post</a>
            </div>
        </div>
    </div>

    @for (int i = 0; i < Model.Count; i += 3)
    {
        <div class="row">
            @foreach (var post in Model.Skip(i).Take(3))
            {
                imageSrc = ViewData["CloudDomain"] + post.ImageUrls.Split(", ", StringSplitOptions.RemoveEmptyEntries).First();

                <div class="col-md-4 text-decoration-none">
                    <div class="card mb-4">
                        <img src="@imageSrc" class="card-img-top" alt="@post.Car.Make.Name @post.Car.Model.ModelName">
                        <div class="card-body">
                            <h3 class="card-title"><strong>@post.Car.Make.Name @post.Car.Model.ModelName</strong></h3>
                            <hr>
                            <span class="card-text fs-3">Price: <span class="card-text fs-3 fst-italic">@post.Price</span> BGN</span>
                            <br>
                            <span class="card-text fs-3">Year: <span class="fst-italic"></span>@post.Car.Year</span>
                            <br>
                            <p class="card-text fs-3 fst-italic">@post.Car.Province.ProvinceName</p>
                            <span class="card-text fs-4 fst-italic">@post.PublishDate.ToString("HH:mm:ss dd/MM/yyyy")</span>
                            <br>
                            <div class="row justify-content-center mt-2">
                                <div class="col-4">
                                    <a class="btn btn-primary btn-warning col-lg-12" onclick="showConfirmEdit('@post.Id')">Edit</a>
                                </div>
                                <div class="col-4">
                                    <a class="btn btn-primary col-lg-12" asp-controller="SalePost" asp-action="Details" asp-route-id="@post.Id">View</a>
                                </div>
                                <div class="col-4">
                                    <a class="btn btn-primary btn-danger col-lg-12" onclick="showConfirmDelete('@post.Id')">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-dialog-box">
            <div class="modal-body fs-3">
                <p>Are you sure you want to <strong>edit</strong> your post?</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" onclick="cancelAction()">Cancel</button>
                <button type="button" id="confirmButton" class="btn btn-lg btn-danger">Confirm</button>
            </div>
        </div>
    </div>
</div>


<script>
    function showConfirmDelete(id) {
        var url = '@Url.Action("Delete", "SalePost")' + '?postId=' + id;
        $('#confirmButton').get(0).addEventListener('click', () => { confirmAction(url); });
        $('#confirmModal').modal('show');
    }

    function showConfirmEdit(id) {
        var url = '@Url.Action("Edit", "SalePost")' + '?postId=' + id;
        $('#confirmButton').get(0).addEventListener('click', () => { confirmAction(url); });
        $('#confirmModal').modal('show');
    }

    function confirmAction(url) {
        $('#confirmModal').modal('hide');
        window.location.href = url;
    }

    function cancelAction() {
        $('#confirmModal').modal('hide');
    }
</script>

