@model AddCarForSaleViewModel
@{
    ViewData["Title"] = "Add a car for sale";
}
<div class="mx-auto text-center mt-2">
    <h1>@ViewData["Title"]</h1>
</div>
<div class="container mt-5">
    <form enctype="multipart/form-data" asp-action="Post" method="post">
        <div class="form-group col-12 mb-3 text-center">
            <label class="form-label mt-4 fs-4">Choose up to 10 photos</label>
            <input class="form-control" type="file" multiple>
        </div>
        <div class="row col-lg-13">
            <div class="mb-3 col-4">
                <label asp-for="MakeId" class="form-label fs-4">Manufaturer</label>
                <select asp-for="MakeId" class="form-select" required>
                    <option value="" selected disabled>Select a make</option>
                    @foreach (var item in Model.Makes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="MakeId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-4">
                <label class="form-label fs-4" asp-for="Model">Model</label>
                <input type="text" class="form-control" asp-for="Model" placeholder="e.g., Astra, Corsa, Zafira" required>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="mb-3 col-4">
                <label asp-for="Year" class="form-label fs-4">Year</label>
                <input type="number" class="form-control" asp-for="Year" value="" min="1886" max="2023" placeholder="e.g., 2017" required>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="mb-3 col-4">
                <label asp-for="CategoryId" class="form-label fs-4">Category</label>
                <select asp-for="CategoryId" class="form-select" required>
                    <option value="" selected disabled>Select a category</option>
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3 col-4">
                <label asp-for="ColorId" class="form-label fs-4">Color</label>
                <select asp-for="ColorId" class="form-select" required>
                    <option value="" selected disabled>Select a color</option>
                    @foreach (var item in Model.Colors)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3 col-4">
                <label asp-for="ProvinceId" class="form-label fs-4">Province</label>
                <select asp-for="ProvinceId" class="form-select" required>
                    <option value="" selected disabled>Select a province</option>
                    @foreach (var item in Model.Provinces)
                    {
                        <option value="@item.Id">@item.ProvinceName</option>
                    }
                </select>
            </div>
        </div>
        <div class="row col-lg-13">
            <h3 class="mt-2">Engine specs:</h3>
            <div class="mb-3 col-4">
                <label class="form-label fs-4" asp-for="EngineDisplacement">Displacement</label>
                <input type="number" class="form-control" asp-for="EngineDisplacement" value="" min="0" max="99999" placeholder="e.g., 1600, 2000, 2500" required>
                <span asp-validation-for="EngineDisplacement" class="text-danger"></span>
            </div>
            <div class="mb-3 col-4">
                <label class="form-label fs-4" asp-for="EngineFuelType">Fuel</label>
                <input type="text" class="form-control" asp-for="EngineFuelType" placeholder="e.g., Petrol, Diesel, Hybrid" required>
                <span asp-validation-for="EngineFuelType" class="text-danger"></span>
            </div>
            <div class="mb-3 col-4">
                <label class="form-label fs-4" asp-for="EngineHorsePower">Horsepower</label>
                <input type="number" class="form-control" asp-for="EngineHorsePower" value="" min=0 max="9999" placeholder="e.g., 120, 170" required>
                <span asp-validation-for="EngineHorsePower" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label fs-4">Price</label>
            <input type="number" asp-for="Price" class="form-control" value="" placeholder="Your price will be in BGN" required>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Odometer" class="form-label fs-4">Odometer/Kilometers</label>
            <input type="number" asp-for="Odometer" class="form-control" value="" placeholder="e.g., 170000, 250000" required>
            <span asp-validation-for="Odometer" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="City" class="form-label fs-4">City</label>
            <input type="text" asp-for="City" class="form-control" placeholder="e.g., Ruse, Sofia, Plovdiv">
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TransmissionType" class="form-label fs-4">Transmission</label>
            <input type="text" asp-for="TransmissionType" class="form-control" value="" placeholder="e.g., Manual, Automatic">
            <span asp-validation-for="TransmissionType" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EuroStandart" class="form-label fs-4">Euro</label>
            <input type="number" asp-for="EuroStandart" class="form-control" value="" placeholder="e.g., 2, 3" required>
            <span asp-validation-for="EuroStandart" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="VinNumber" class="form-label fs-4">VinNumber</label>
            <input type="text" asp-for="VinNumber" class="form-control" value="" placeholder="Car's unique identifier">
            <span asp-validation-for="VinNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TechnicalSpecificationURL" class="form-label fs-4">Car Specifications</label>
            <input type="text" asp-for="TechnicalSpecificationURL" class="form-control" value="" placeholder="Link to auto data site for your car">
        </div>
        <div class="mb-3">
            <label for="engine" class="form-label fs-4">Description</label>
            <textarea asp-for="Description" class="form-control" placeholder="My recently imported car..."></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="d-grid col-3 mx-auto mt-3 mb-2">
            <input type="submit" class="btn btn-primary fs-4" value="Post" />
        </div>
    </form>
</div>
