@using CarMarketplace.Data.Models;
@using Microsoft.AspNetCore.Identity;
@model SalePostViewModel
@{
    ViewData["CloudDomain"] = "https://res.cloudinary.com/carmarketplace/image/upload/";
    var imageUrl = "";
}

@inject SignInManager<ApplicationUser> SignInManager

<div class="container mt-5">
    <div class="row">
        <!-- Photos Section (Left Side) -->
        <div class="col-md-7">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        @{
                            imageUrl = ViewData["CloudDomain"] + Model.ImageUrls.Split(", ", StringSplitOptions.RemoveEmptyEntries).First();
                        }
                        <img src="@imageUrl" class="d-block w-100" alt="@Model.Car.CarName">
                    </div>
                    @foreach (var pictureId in Model.ImageUrls.Split(", ", StringSplitOptions.RemoveEmptyEntries).Skip(1))
                    {
                        imageUrl = ViewData["CloudDomain"] + pictureId;

                        <div class="carousel-item">
                            <img src="@imageUrl" class="d-block w-100" alt="@Model.Car.CarName">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-5 mt-3">
            @{
                var displacement = (@Model.Car.Engine.Displacement / 100).ToString().Insert(1, ".") + "l";
            }
            <h2>Manufacturer: @Model.Car.Make</h2>
            <p class="fs-2">Car Model: @Model.Car.Model</p>
            <hr />
            <p class="fs-3">Year: @Model.Car.Year</p>
            <p class="fs-3">Color: @Model.Car.Color</p>
            <p class="fs-3">Price: @Model.Price BGN</p>
            <p class="fs-3">Engine: @displacement <span>@Model.Car.Engine.FuelType</span></p>
            <p class="fs-3">Transmission: @Model.Car.TransmissionType</p>
            <p class="fs-3">Category: @Model.Car.Category</p>
            <p class="fs-3">Province: @Model.Car.Province 
                @if(Model.Car.City != null)
                {
                    <span>@Model.Car.City</span>
                }
            </p>
            <hr />
            <p class="fs-4">@Model.PublishDate.ToString("HH:mm:ss dd/MM/yyyy")</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="row justify-items-center border p-3">
            <div class="col-md-4">
                <h3>Engine specifications:</h3>
                <hr />
                <p class="fs-4">Displacement: @Model.Car.Engine.Displacement</p>
                <p class="fs-4">Horsepower: @Model.Car.Engine.Horsepower</p>
                <p class="fs-4">Fuel: @Model.Car.Engine.FuelType</p>
            </div>
            <div class="col-md-4">
                <h3>Car specifications:</h3>
                <hr />
                <p class="fs-4">Euro Standart: @Model.Car.EuroStandart</p>
                <p class="fs-4">Odometer: @Model.Car.Odometer</p>
                @if (Model.Car.TechnicalSpecificationURL != null)
                {
                    <a href="@Model.Car.TechnicalSpecificationURL" class="fs-4 text-decoration-none">Techical specifications</a>
                }
                @if (Model.Car.VinNumber != null)
                {
                    <p class="fs-4">Vin: @Model.Car.VinNumber</p>
                }
            </div>
            <div class="col-md-4">
                <h3>Seller:</h3>
                <hr />
                <p class="fs-4">First Name: @Model.Seller.FirstName</p>
                <p class="fs-4">Last Name: @Model.Seller.LastName</p>
                @if (SignInManager.IsSignedIn(User))
                {
                    <p class="fs-4">Phone number: @Model.Seller.PhoneNumber</p>
                }
            </div>
        </div>
    </div>
    @if (Model.Car.Description != null)
    {      
        <div class="row mt-5">
            <div class="col-md-12">
                <h2>Additional Details</h2>
                <p class="fs-3">
                    @Model.Car.Description
                </p>
            </div>
        </div>
    }
</div>