@using CarMarketplace.Data.Models;
@using Microsoft.AspNetCore.Identity;
@model SalePostViewModel
@{
    ViewData["CloudDomain"] = "https://res.cloudinary.com/carmarketplace/image/upload/";
    var image = "";
    var imagePublicId = "";
}

@inject SignInManager<ApplicationUser> SignInManager

<div class="container mt-5">
    <div class="row">
        <div class="col-md-7">
            <div class="owl-carousel owl-theme">
                <div class="carousel-item active">
                    @{
                        var publicId = Model.ImageUrls.Split(", ", StringSplitOptions.RemoveEmptyEntries).First();
                        image = ViewData["CloudDomain"] + publicId;
                    }

                    <img src="@image" class="img-fluid rounded float-end" alt="@Model.Car.Make.Name @Model.Car.Model.ModelName">
                </div>
                @foreach (var imageId in Model.ImageUrls.Split(", ", StringSplitOptions.RemoveEmptyEntries).Skip(1))
                {
                    image = ViewData["CloudDomain"] + imageId;
                    <img src="@image" class="img-fluid rounded float-end" alt="@Model.Car.Make.Name @Model.Car.Model.ModelName">
                }
            </div>
            <div class="row justify-items-between ms-4 gap-3">
                @for (int i = 0; i < Model.ImageUrls.Split(", ", StringSplitOptions.RemoveEmptyEntries).Length; i++)
                {
                    imagePublicId = Model.ImageUrls.Split(", ", StringSplitOptions.RemoveEmptyEntries)[i];
                    image = ViewData["CloudDomain"] + imagePublicId;
                    <div class="col-2">
                        <img src="@image" class="rounded img-nav" onclick="loadCarouselItem(@i)" alt="@Model.Car.Make.Name @Model.Car.Model.ModelName">
                    </div>
                }
            </div>
        </div>
        <div class="col-md-5 mt-3">
            @{
                var displacement = (@Model.Car.Engine.Displacement / 100).ToString().Insert(1, ".") + "l";
            }
            <h2>Manufacturer: <strong>@Model.Car.Make.Name</strong></h2>
            <p class="fs-2">Car Model: <strong>@Model.Car.Model.ModelName</strong></p>
            <hr />
            <p class="fs-3">Year: <span class="fst-italic">@Model.Car.Year</span></p>
            <p class="fs-3">Color: <span class="fst-italic">@Model.Car.Color</span></p>
            <p class="fs-3">Price: <span class="fst-italic">@Model.Price BGN</span></p>
            <p class="fs-3">Engine: <span class="fst-italic">@displacement @Model.Car.Engine.FuelType</span></p>
            <p class="fs-3">Transmission: <span class="fst-italic">@Model.Car.TransmissionType</span></p>
            <p class="fs-3">Category: <span class="fst-italic">@Model.Car.Category.Name</span></p>
            <p class="fs-3">
                Province: <span class="fst-italic">@Model.Car.Province.ProvinceName</span>
                @if (Model.Car.City != null)
                {
                    <span class="fst-italic">, @Model.Car.City</span>
                }

            </p>
            <hr />
            <p class="fs-4 fst-italic">@Model.PublishDate.ToString("HH:mm:ss dd/MM/yyyy")</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="row justify-items-center border p-3">
            <div class="col-md-4">
                <h3>Engine specifications:</h3>
                <hr />
                <p class="fs-4">Displacement: @Model.Car.Engine.Displacement</p>
                <p class="fs-4">Horsepower: @Model.Car.Engine.Horsepower</p>
                <p class="fs-4">Fuel: @Model.Car.Engine.FuelType</p>
            </div>
            <div class="col-md-4">
                <h3>Car specifications:</h3>
                <hr />
                <p class="fs-4">Euro Standart: @Model.Car.EuroStandart</p>
                <p class="fs-4">Odometer: @Model.Car.Odometer</p>
                @if (Model.Car.TechnicalSpecificationURL != null)
                {
                    <a href="@Model.Car.TechnicalSpecificationURL" class="fs-4 text-decoration-none">Techical specifications</a>
                }
                @if (Model.Car.VinNumber != null)
                {
                    <p class="fs-4">Vin: @Model.Car.VinNumber</p>
                }
            </div>
            <div class="col-md-4">
                <h3>Seller:</h3>
                <hr />
                <p class="fs-4">First Name: @Model.Seller.FirstName</p>
                <p class="fs-4">Last Name: @Model.Seller.LastName</p>
                @if (SignInManager.IsSignedIn(User))
                {
                    <p class="fs-4">Phone number: @Model.Seller.PhoneNumber</p>
                }
            </div>
        </div>
    </div>
    @if (Model.Car.Description != null)
    {
        <div class="row mt-5">
            <div class="col-md-12">
                <h2>Additional Details</h2>
                <p class="fs-3 fst-italic">
                    @Model.Car.Description
                </p>
            </div>
        </div>
    }
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel({
                loop: true,
                nav: true,
                navText: ["<i class='fas fa-chevron-left'></i>", "<i class='fas fa-chevron-right'></i>"],
                responsive: {
                    0: {
                        items: 1
                    }
                }
            });
        });

        function loadCarouselItem(position) {
            $(".owl-carousel").trigger('to.owl.carousel', position);
        };
    </script>
}