@model ICollection<SalePostViewModel>

@inject SignInManager<ApplicationUser> SignInManager
@inject IUserService UserService;

@{
    ICollection<Guid> userFavourites = new HashSet<Guid>();
    bool isLogged = SignInManager.IsSignedIn(User);
    if (isLogged)
    {
        userFavourites = await UserService.GetUserFavouritePostIdsAsync(User.FindFirstValue(ClaimTypes.NameIdentifier));
    }
    ViewData["Title"] = "Catalog";
    ViewData["CloudDomain"] = "https://res.cloudinary.com/carmarketplace/image/upload/";
    var imageSrc = "";
}

<div class="mt-5">
    <div class="d-grid gap-2 col-6 mx-auto text-center mt-5">
        <h1>@ViewData["Title"]</h1>
    </div>
    @if (Model.Count == 0)
    {
        <div class="text-center mt-4">
            <img src="/img/Sad_car.png">
        </div>
    }
    @foreach (var post in Model)
    {
        imageSrc = ViewData["CloudDomain"] + @post.ThumbnailImage;
        <div class="border rounded shadow bg-white p-3 mb-4 mt-4">
            <div class="row">
                <div class="col-5">
                    <a asp-controller="SalePost" asp-action="Details" asp-route-id="@post.Id">
                        <img src="@imageSrc" class="card-img-result" alt="@post.Car.Make.Name @post.Car.Model.ModelName">
                    </a>
                </div>
                <div class="col">
                    <div class="row justify-content-between">
                        <h2 class="card-title float-start col-6"><strong>@post.Car.Make.Name @post.Car.Model.ModelName</strong></h2>
                        @if (isLogged)
                        {
                            <div class="col-2">
                                @if (userFavourites.Contains(post.Id))
                                {
                                    <button class="heart-button active float-end" onclick="toggleHeart(this, '@Html.Raw(post.Id)')">
                                        <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C15.09 3.81 16.76 3 18.5 3 21.58 3 24 5.42 24 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" /></svg>
                                    </button>
                                }
                                else
                                {
                                    <button class="heart-button float-end" onclick="toggleHeart(this, '@Html.Raw(post.Id)')">
                                        <svg class="heart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C15.09 3.81 16.76 3 18.5 3 21.58 3 24 5.42 24 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" /></svg>
                                    </button>
                                }
                            </div>
                        }
                    </div>
                    <hr>
                    <div class="mt-4">
                        <span class="fs-3"><span class="fst-italic">@post.Price</span> <strong>BGN</strong></span>
                        <br>
                        @{
                            var displacement = (post.Car.Engine.Displacement / 100).ToString().Insert(1, ".") + "l";
                        }
                        <span class="card-text fs-3 fst-italic">@displacement @post.Car.Engine.FuelType @post.Car.Engine.Horsepower<span>hp</span></span>
                        <br>
                        <span class="fs-3 fst-italic">@post.Car.TransmissionType</span>
                        <br>
                        <span class="fs-3 fst-italic">@post.Seller.City.Province.ProvinceName, @post.Seller.City.CityName</span>
                        <br>
                        <div class="mt-4 text-end fst-italic">
                            <span class="fs-3">@post.CreatedOn.ToString("HH:mm:ss dd/MM/yyyy")</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function toggleHeart(button, postId) {
        button.classList.toggle('active');

        const data = {
            postId: postId,
        };

        if (!button.classList.contains('active')) {

            $.ajax({
                contentType: "application/json",
                type: 'POST',
                url: '/User/RemoveFavourite',
                data: JSON.stringify(data)
            });
        }
        else {

            $.ajax({
                contentType: "application/json",
                type: 'POST',
                url: '/User/AddFavourite',
                data: JSON.stringify(data)
            });
        }
    }
</script>