@model ICollection<SalePostViewModel>

@{
    ViewData["Title"] = "Catalog";
    ViewData["CloudDomain"] = "https://res.cloudinary.com/carmarketplace/image/upload/";
    var imageSrc = "";
}

<div class="mt-5">
    <div class="d-grid gap-2 col-6 mx-auto text-center mt-5">
        <h1>@ViewData["Title"]</h1>
    </div>
    @if (Model.Count == 0)
    {
        <div class="text-center mt-4">
            <img src="/img/Sad_car.png" >
        </div>
    }
    @foreach (var post in Model)
    {
        imageSrc = ViewData["CloudDomain"] + @post.ImageUrls.Split(", ", StringSplitOptions.RemoveEmptyEntries).First();
        <a class="text-decoration-none text-primary" asp-controller="SalePost" asp-action="Details" asp-route-id="@post.Id">
            <div class="container text-center border rounded shadow-lg p-3 mb-4 mt-4">
                <div class="row align-items-start">
                    <div class="col-5">
                        <img src="@imageSrc" class="card-img" alt="@post.Car.Make.Name @post.Car.Model.ModelName">
                    </div>
                    <div class="col">
                        <div class="col mt-3 text-start">
                            <h2><strong>@post.Car.Make.Name @post.Car.Model.ModelName @post.Car.Year</strong></h2>
                            <hr>
                            <div class="mt-4">
                                <span class="fs-3"><span class="fst-italic">@post.Price</span> <strong>BGN</strong></span>
                                <br>
                                @{
                                    var displacement = (post.Car.Engine.Displacement / 100).ToString().Insert(1, ".") + "l";
                                }
                                <span class="card-text fs-3 fst-italic">@displacement @post.Car.Engine.FuelType @post.Car.Engine.Horsepower<span>hp</span></span>
                                <br>
                                <span class="fs-3 fst-italic">@post.Car.TransmissionType</span>
                                <br>
                                <span class="fs-3 fst-italic">
                                    @post.Car.Province.ProvinceName
                                    @if (@post.Car.City != null)
                                    {
                                        <span>@post.Car.City</span>
                                    }
                                </span>
                                <br>
                                <div class="mt-4 text-end fst-italic">
                                    <span class="fs-3">@post.PublishDate.ToString("HH:mm:ss dd/MM/yyyy")</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
</div>