@model SearchViewModel
@{
    ViewData["Title"] = "Search";
    ViewData["Make"] = "";
}

@inject ICatalogService CatalogService


<div class="d-grid gap-2 col-6 mx-auto text-center mt-5">
    <h3>@ViewData["Title"]</h3>
</div>

<form method="get" asp-action="Result" asp-controller="Catalog">
    <fieldset>
        <div class="form-group">
            <label for="MakeSelect" class="form-label mt-4 fs-4">Select Make</label>
            <select class="form-select" asp-for="Make" id="MakeSelect">
                <option value=0>All</option>
                @foreach (var item in Model.Makes)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="ModelInput" class="form-label mt-4 fs-4">Select Model</label>
            <input class="form-control" asp-for="ModelName" id="ModelInput" placeholder="e.g., A3, Civic, Yaris" />
        </div>
        <div class="form-group">
            <label for="CategorySelect" class="form-label mt-4 fs-4">Select Category</label>
            <select class="form-select" asp-for="Category" id="CategorySelect">
                <option value="0">All</option>
                @foreach (var item in Model.Categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="row mt-3">
            <br />
            <span class="fs-4">Kilometers:</span>
            <div class="form-group col-md-4">
                <label for="fromKm" class="form-label mt-4 fs-4">From:</label>
                <input type="number" id="fromKm" asp-for="FromKilometers" class="form-control" placeholder="e.g., 50000">
            </div>
            <div class="form-group col-md-4">
                <label for="toKm" class="form-label mt-4 fs-4">To:</label>
                <input type="number" id="toKm" asp-for="ToKilometers" class="form-control" placeholder="e.g., 150000">
            </div>
        </div>
        <div class="row mt-3">
            <br />
            <span class="fs-4">Horsepower:</span>
            <div class="form-group col-md-4">
                <label for="fromHP" class="form-label mt-4 fs-4">From:</label>
                <input type="number" id="fromHP" asp-for="FromHorsepower" class="form-control" placeholder="e.g., 100">
            </div>
            <div class="form-group col-md-4">
                <label for="toHP" class="form-label mt-4 fs-4">To:</label>
                <input type="number" id="toHP" asp-for="ToHorsepower" class="form-control" placeholder="e.g., 240">
            </div>
        </div>
        <div class="form-group">
            <label for="ProvinceSelect" class="form-label mt-4 fs-4">Select Province</label>
            <select class="form-select" asp-for="ProvinceId" id="ProvinceSelect">
                <option>All</option>
                @foreach (var item in Model.Provinces)
                {
                    <option value="@item.Id">@item.ProvinceName</option>
                }
            </select>
        </div>
        <div class="row mt-3">
            <br />
            <span class="fs-3">Year:</span>
            <div class="form-group col-md-4">
                <label for="fromYear" class="form-label mt-4 fs-4">From:</label>
                <input type="number" id="fromYear" asp-for="FromYear" class="form-control" min=1886 placeholder="e.g., 1995">
            </div>
            <div class="form-group col-md-4">
                <label for="toYear" class="form-label mt-4 fs-4">To:</label>
                <input type="number" id="toYear" asp-for="ToYear" class="form-control" max="2023" placeholder="e.g., 2005">
            </div>
        </div>
        <div class="row mt-3">
            <br />
            <span class="fs-3">Price:</span>
            <div class="form-group col-md-4">
                <label for="fromPrice" class="form-label mt-4 fs-4">From:</label>
                <input type="number" id="fromPrice" asp-for="FromPrice" class="form-control" min="0" placeholder="e.g., 2000">
            </div>
            <div class="form-group col-md-4">
                <label for="toPrice" class="form-label mt-4 fs-4">To:</label>
                <input type="number" id="toPrice" asp-for="ToPrice" class="form-control" min="0" placeholder="e.g., 5000">
            </div>
        </div>
        <div class="d-grid col-3 mx-auto mt-4">
            <input class="btn btn-primary" type="submit" id="submitForm" value="Search">
        </div>
    </fieldset>
</form>
