@model SearchViewModel
@{
    ViewData["Title"] = "Search";
}


<div class="d-grid gap-2 col-6 mx-auto text-center mt-5">
    <h3>@ViewData["Title"]</h3>
</div>
<form>
    <fieldset>
        <div class="form-group">
            <label for="exampleSelect1" class="form-label mt-4 fs-4">Select Make</label>
            <select class="form-select" id="MakeSelect" onchange="loadModels()">
                <option value="All">All</option>
                @foreach (var item in Model.Makes)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="exampleSelect1" class="form-label mt-4 fs-4">Select Model</label>
            <select class="form-select" id="ModelSelect" disabled>
                <option value="All">All</option>
                @*@foreach (var item in Model.Models.Where(m => m.ManufacturerName == ViewData["Make"]))
                {
                <option value="@item.Id">@item.ModelName</option>
                }*@
            </select>
        </div>
        <div class="form-group">
            <label for="exampleSelect1" class="form-label mt-4 fs-4">Select Category</label>
            <select class="form-select" id="CategorySelect">
                <option>All</option>
                @foreach (var item in Model.Categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="row mt-3">
            <br />
            <span class="fs-4">Kilometers:</span>
            <div class="form-group col-md-4">
                <label for="fromKm" class="form-label mt-4 fs-4">From:</label>
                <input type="number" id="fromKm" class="form-control" placeholder="e.g., 50000">
            </div>
            <div class="form-group col-md-4">
                <label for="toKm" class="form-label mt-4 fs-4">To:</label>
                <input type="number" id="toKm" class="form-control" placeholder="e.g., 150000">
            </div>
        </div>
        <div class="row mt-3">
            <br />
            <span class="fs-4">Horsepower:</span>
            <div class="form-group col-md-4">
                <label for="fromHP" class="form-label mt-4 fs-4">From:</label>
                <input type="number" id="fromHP" class="form-control" placeholder="e.g., 100">
            </div>
            <div class="form-group col-md-4">
                <label for="toHP" class="form-label mt-4 fs-4">To:</label>
                <input type="number" id="toHP" class="form-control" placeholder="e.g., 240">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4 fs-4">Example textarea</label>
            <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for="ProvinceSelect" class="form-label mt-4 fs-4">Select Province</label>
            <select class="form-select" id="ProvinceSelect">
                <option>All</option>
                @foreach (var item in Model.Provinces)
                {
                    <option value="@item.Id">@item.ProvinceName</option>
                }
            </select>
        </div>
        <div class="row mt-3">
            <br />
            <span class="fs-3">Year:</span>
            <div class="form-group col-md-4">
                <label for="fromYear" class="form-label mt-4 fs-4">From:</label>
                <input type="number" id="fromYear" class="form-control" placeholder="e.g., 1995">
            </div>
            <div class="form-group col-md-4">
                <label for="toYear" class="form-label mt-4 fs-4">To:</label>
                <input type="number" id="toYear" class="form-control" placeholder="e.g., 2005">
            </div>
        </div>
        <fieldset class="form-group mt-3">
            <label for="PriceTo" class="form-label mt-4 fs-3">Price To: <span id="selectedValue" class="fw-bold">50000</span></label>
            <input type="range" class="form-range" id="priceTo" min="100" max="100000" step="50">
        </fieldset>
        <div class="d-grid col-3 mx-auto mt-4">
            <a asp-controller="Catalog" asp-action="Catalog" class="btn btn-primary" id="submitForm">Submit</a>
        </div>
    </fieldset>
</form>
@section scripts{
    <script type="text/javascript">
        $('a#submitForm').click(function () {
            $.ajax({
                url: '@Url.Action("CalculateItemQuote", "Quote")',
                type: 'POST',
                data: {
                    'ProductId': $('#ProductId').val(),
                    'Quantity': $('#Quantity').val()
                },
                dataType: 'json',
                traditional: true,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function (data) {
                    $("#bifoldHeaderPartial").html(data);
                    $('#bifoldHeaderPartial').show();
                }
            });
        });
    </script>
    <script>
        function loadModels() {
            localStorage.clear;
            var make = document.querySelector('#MakeSelect').options[makeSelect.selectedIndex].text;
        @ViewData["MakeSelected"] = make;
            console.log(make);
            var models = JSON.parse('@Html.Raw(Json.Serialize(@Model.Models.Where(x => x.ManufacturerName == ViewData["MakeSelected"])))');
            console.log(models);
            localStorage.setItem("models", models);
        }
    </script>
    <script src="~/js/search.js"></script>
}